@import url('https://fonts.googleapis.com/css?family=Cairo');

@font-face {
    font-family: AdobeArabic;
    src: url("../fonts/AdobeArabic-Regular.otf") format("opentype");;
}

@font-face {
    font-family: AraHamah;
    src: url("../fonts/AraHamah1964R-Regular.otf") format("opentype");;
}

@font-face {
    font-family: AraHamah;
    src: url("../fonts/AraHamah1964B-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: GothamRnd;
    src: url("../fonts/GothamRnd-Book.otf") format("opentype");
}

@font-face {
    font-family: GothamRnd;
    src: url("../fonts/GothamRnd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: GothamRnd;
    src: url("../fonts/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeoTech;
    src: url("../fonts/NeoTech.otf") format("opentype");
}

@font-face {
    font-family: NeoTech;
    src: url("../fonts/NeoTech-Bold.otf") format("opentype");
    font-weight: bold;
}
