// import any google fonts specific to rtl
@import "fonts";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Logo
.st2 { // color of the text in logo. (name should be changed!)
    fill: #ffffff
}

// Navbar


//Profile
.profile-field-label {
    color: $indigo;
    font-size: 0.7rem;
}

.profile-field-value {
    font-size: 1.3rem;
}